.input-group-rounded .input-group-field {
    border-radius: 5000px 0 0 5000px;
    padding-left: 1rem;
  }
  
  .input-group-rounded .input-group-button .button {
    border-radius: 0 5000px 5000px 0;
    font-size: 0.8rem;
  }

header{
  background-color: yellow;
}

.title {
  text-align: center;
  bottom: 150px;
  position: relative;
}

.logo{
  position: relative;
  top: 30px;
  left: 50px;
  border-radius: 10px;
}

.input-group-rounded{
  width: 1000px;
  padding-left: 450px;
  bottom: 650px;
  position: absolute;
}

.localTime{
  position: absolute;
  align-items: right;
  left: 1100px;
  bottom: 650px;
}

.test {
  background-color: green;
  display:block;
  text-align: center;
  
  padding-right: 35px;
  padding-left: 50px;
  
  
}
  
.exchange {
  background-color: red;
  display: inline-block;
  
  align-items: center;
  bottom: 10px;
  
  }



.boj {
  background-color: blue;
  display: inline-block;
  
   
}